.Rproj.user
/.quarto/
docs
.vscode/settings.json
docs
inst/doc
vignettes/*.html
/doc/
/Meta/
vignettes/*.R
^vignettes/gwas1\.imputed.example\.rds$
^vignettes/gwas2\.imputed.example\.rds$
^vignettes/gwas1\.array.example\.rds$
^vignettes/gwas2\.array.example\.rds$
